/* 321 Project Code Begins Here */
body {
    background-color: #2a3033;
    background-image: url("./assets/Grass-Texture.jpg");
  }
  #navBarLogo {
    width: 80px;
    height: 80px;
    margin-left: 8%;
  }
  
  .dropdown {
    font-size: 20px;
    list-style-type: none;
  }
  
  #navbarDropdown {
    list-style-type: none;
  }
  
  /* sticky nav bar */
  /* nav > * {

  } */

#logIn {
    padding-left: 70%;
    font-size: 23px;
    color: white;
  }
  
  nav:hover > * {
    background-color: #990000;
    transition: 0.5s;
  }

  #myCarousel {
      display: flex;
      justify-content: center;
      height: 600px;
      width: 900px;
      margin-left: 20%;
  }
  footer > * {
    padding: 200px 0 150px 50px;
  }
  