/* 321 Project Code Begins Here */
body {
    background-color: #1e1e1e;
    background-image: url("./assets/Grass-Texture.jpg");
  }
  #navBarLogo {
    width: 80px;
    height: 80px;
    margin-left: 8%;
  }
  #headerTitle {
    padding-left: 18%;
  }
  .dropdown {
    font-size: 20px;
    list-style-type: none;
  }
  nav > * {
    margin-top: 5px;
  }
  #navbarDropdown {
    list-style-type: none;
  }

#logIn {
    padding-left: 20%;
    font-size: 20px;
    color: #990000;
    /* text-transform: lowercase; */
    font-family: 'Raleway',sans-serif;
  }

  #myCarousel {
      display: flex;
      justify-content: center;
      height: 600px;
      width: 900px;
      margin-left: 20%;
  }
  footer > * {
    padding: 500px 0 150px 50px;
    color: darkgrey;
    font-family: 'Raleway',sans-serif;
  }



  /* begin slideshow */
  .container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    /* box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5); */
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }

    .carousel__face:nth-child(1) {
      background-image: url("./assets/Logo_Background.png");
      transform: rotateY(  0deg) translateZ(430px); }
    .carousel__face:nth-child(2) { 
      background-image: url("./assets/quad_copy.png");
        transform: rotateY( 40deg) translateZ(430px); }
    .carousel__face:nth-child(3) {
      background-image: url("./assets/Jimmy.png");
      transform: rotateY( 80deg) translateZ(430px); }
    .carousel__face:nth-child(4) {
      background-image: url("./assets/bds.png");
      transform: rotateY(120deg) translateZ(430px); }
    .carousel__face:nth-child(5) { 
      background-image: url("./assets/Kate.png");
     transform: rotateY(160deg) translateZ(430px); }
    .carousel__face:nth-child(6) { 
      background-image: url("./assets/logo.png");
     transform: rotateY(200deg) translateZ(430px); }
    .carousel__face:nth-child(7) { 
      background-image: url("./assets/Tim.png");
     transform: rotateY(240deg) translateZ(430px); }
    .carousel__face:nth-child(8) {
      background-image: url("./assets/bds.png");
      transform: rotateY(280deg) translateZ(430px); }
    .carousel__face:nth-child(9) {
      background-image: url("./assets/quad_copy.png");
      transform: rotateY(320deg) translateZ(430px); }

  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  