#adminEditingBtns {
  display: flex;
  padding: 70px 250px 0px 250px;
  justify-content: space-evenly;
}

.exampleModal {
  z-index: auto;
}

.modal-backdrop {
  display: none;
}
.modal {
  background: rgba(0, 0, 0, 0.5);
}

.garden {
  text-align: center;
  position: relative;
}

.gardenText {
  position: relative;
  top: -5px;
}
